



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}



:root {
    font-size: 16px;

    --light-Green: rgb(109, 225, 25);
}

    @keyframes waving {

            0%{ transform: rotate(0deg);}
            20%{ transform: rotate(30deg);}
            40%{ transform: rotate(-30deg);}
            60%{ transform: rotate(30deg);}
            80%{ transform: rotate(-30deg);}
            100%{ transform: rotate(0deg);}

    }


    .wavingg {
        animation: waving 0.5s ease-in-out;
    transform-origin: bottom;
    }


        .build-mode {
            display: inline-flex;
            background: lightgreen;
            color: black;
            width: 100%;
            height: 2ch;
            text-align: center;
            align-items: center;
            justify-content: center;

        }

    @keyframes entering {
        0%{ transform: translateY(40px) scale(0);}

        0%{ transform: translateY(0px) scale(1); }

     }



 @keyframes upp {

    0%{ 
        transform: translateY(100%);
        opacity: 0;
        transform-origin: bottom;
    }
        
    
    100%{ transform: translateY(0%);
        opacity: 1;

    }

 }


 @keyframes downn {

    0%{ transform: translateY(0);
            opacity: 1;
        
        }
        
    
    100%{ transform: translateY(100%);
        opacity: 0;

    }
 }


.hand-area {
    margin: 0px 8px;
    
    
}

#hand{
    fill: var(--light-Green);
}




.hand-area:hover {
    animation: waving 0.5s ease-in-out;
    transform-origin: bottom;
    
}


.benvenue-container {
        line-height: 40px;
    
}

   
.benvenue-container h1 {
    color: var(--light-Green);
    font-size: clamp(8vw, 1rem, 99vw);
            
}

.title {
    transition: all 0.5s ease-in-out;
}

.benvenue-container h3 {
    font-size: clamp(3vw, 0.8em, 90vw);
} 



#main-container {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(7, auto);
    height: 100vh;
    padding: 0px clamp(8px, 40px, 60px);
    place-content: center;
    
    


}

.appearup {
    display: inline-flex;
    transition: 0.5s;
    animation: upp 0.5s 0s ease-in-out both;
    user-select: none;
}



.sliceMe {
    overflow: hidden;
    line-height: 1.5ch;
}



.appearup:hover{
    animation: downn 0.5s ease-in-out both;
    
}



.arrow-one{
    grid-column: 1/7;
    width: 100%;
    
}

.arrow-button {
    transition: all 0.2s ease-in;
    max-width: 30px;
}


/* ******* SECCIONES ******* */

.sect-title {

    margin: 12px;

}


.sect-para {

    margin: 12px;
    padding: 4px;
    width: clamp(40%, 80%, 90%)
}



/*WORKKKKKK */

#work-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(40vh, 1fr));
    place-items: center;
    gap: 16px;
    margin: 16px;


}

#work-card-container .work-card {
    background: violet;
    display: flex;
    width: 100%;
    place-content: center;
    padding: 50px ;
    outline: 4px solid green;
    transition: outline 0.1s ease-in;
    background-position: -10px;
    transition: all 0.2s ease-in-out;
    
}

#work-card-container .work-card:hover {
    outline: 8px solid green;
    background-image: url('https://cdn.pixabay.com/photo/2017/09/14/16/39/black-and-white-2749595_960_720.jpg');
    background-position: 0px;
}

#work-card-container .work-card:hover h4 {
    color: white;
    background: black;
    
    transform: skewX(15deg) scale(1.5);
    font-weight: normal;
}





#work-card-container .work-card h4 {
    transition: transform 0.3s ease-in-out;
    transition: font-weight 0.3s ease-in-out;
    font-weight: 800;

}